body {
    font-family: 'Dancing Script', cursive 'Zilla Slab', serif; 
    margin: 0;
    padding: 0;
    background-color: #eeedf0;
}
.imag{
    width: 70%;
    height: auto;
}
#topnav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(85, 85, 85, 0.19), 0 6px 20px 0 rgba(85, 85, 85, 0.19);
}

.active{
    color: #4e4e4e;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#myLinks{
    display: flex;
    justify-content: space-between;
}

.icon{ 
    display: none;
}

#myLinks a {
    color: black;
    width: 70px;
    text-align: center;
    margin: 10px;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
}

#myLinks a:hover{
    border-radius: 0px;
    border-bottom: 3px solid #bc5374;
}

.shape{
    background-color: #bc5374;
    height: 20px;
    width: 20px;
    margin: 10px;
    border-radius: 50%;
}

.hero__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 560px;
}

.hero__wrapper p {
    width: 400px;
    color: gray;
}

.hero__wrapper h1{
    color: #4e4e4e;
    font-size: 60px;
    margin: 0px;
}

h3{
    color: #4e4e4e;
}

.hero__wrapper h4{
    color: #bc5374;
}


.hero__wrapper--left{
    align-items: left;
    width: 60%;
}

.hero__wrapper--right {
    position: absolute;
    left: 55%;
    top: 60px;
    display: flex;
}

.hero__wrapper--right img{
    height: 500px;
}

#links{
    position: fixed;
    background-color:  rgba(215, 194, 193, 0.544);
    top: 230px;
    left: 30px;
    border-radius: 10px;
}

.links__wrapper {
    display: flex;
    flex-direction: column;
}
.links__wrapper a{
    color: #bc5374;
    padding: 15px;

}

#portfolio {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 50px 100px;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.uiDesign{
    display: flex;
    flex-direction: row;
    height: 405px;
    width: 600px;
    margin: 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
}

.uiDesign img{
    position: relative;
    height: 405px;
    top: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.uiDesign-detaile{
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: start;
    flex-direction: column;
    padding: 0px 50px;
}

.project__title{
    color: #4e4e4e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.Portfolio-continer{
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.project h3{
    margin: 10px;
}

.project a{
    text-decoration: none;
    color: #bc5374;
}

.project img {
    border-radius: 20px;
    height: auto;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: fill;
}

.Visit{
    width: 150px;
}

#about {
    background-color: hsl(341, 44%, 53%);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
}
.about-container p{
    width: 40%;
}

footer {
    background-color: white;
    color: #bc5374;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(85, 85, 85, 0.19), 0 6px 20px 0 rgba(85, 85, 85, 0.19);
}

button{
    background-color: rgb(215, 194, 193, 0.544);
    border: none;
    color: #bc5374;
    font-size: larger;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    width: 100px;
}

.project p{
    font-size: small;
}

@media only screen and (max-width: 1224px) {

    .hero__wrapper{
        height: 950px;
        display: flex;
        text-align: center;
        flex-direction: column;

    }
    .hero__wrapper--left{
        display: flex;
        position: absolute;
        top: 70px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero__wrapper--right{
        top: 450px;
        left: 30%;
    }

    .Portfolio-continer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap: 50px;
    }
}
@media only screen and (max-width: 950px) {

    #topnav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    flex-direction: row;
    align-items: center;
    }

    #topnav a {
        color: black;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    #myLinks {
        position: absolute;
        background-color: #4e4e4e;
        width: 100%;
        display: none;
        top: 60px;
        z-index: 1000;
        padding: 20px 0px;
    }
    

    #myLinks a{
        padding-top: 10px;
        color: aliceblue;
    }
    
    
    #topnav a.icon {
        position: absolute;
        right: 30px;
        top: 25px;
    }
    
    .active {
        color: #4e4e4e;
        margin-left: 30px;
    }

    .hero__wrapper--right {
        position: absolute;
        left: 25%;
        top: 450px;
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    
    .shape{
        height: 15px;
        width: 15px;
    }

    .active h1{
        font-size: 20px
    }

    .hero__wrapper h2{
        font-size: 20px;
        margin: 10px 0px;
    }

    .hero__wrapper p{
        font-size: 14px;
        margin: 10px 0px;
    }


    .Portfolio-continer{
        gap: 20px;
    }
    
    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto; 
        padding: 20px;
    }

    .about-container p{
        width: 70%;
    }

    .hero__wrapper{
        height: 850px;
    }

    .hero__wrapper--right {
        position: absolute;
        left: 16%;
        top: 350px;
        display: flex;
    }

    .uiDesign{
        height: 405px;
        width: 530px;
    }

    .uiDesign-detaile{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .uiDesign p{
        font-size: small;
    }

    .uiDesign h2{
        font-size: 16px;
    }

    .uiDesign h5{
        font-size: 12px;
        margin: 7px 0px;
    }

    .uiDesign p{
        font-size: 12px;
    }
    
    .Portfolio-continer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        justify-content: center;
    }

    button{
        font-size: medium;
        padding: 8px;
    }
}

@media only screen and (max-width: 568px) {

    .hero__wrapper{
        height: 650px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    #links{
        left: 10px;
    }

    .links__wrapper a{
        padding: 9px;
    }

    .hero__wrapper--left h2{
        font-size: 10px;
        margin: 0px;
    }

    .hero__wrapper--left h4{
        margin: 5px;
    } 

    .paragraph{
        font-size: small;
    } 

    .hero__wrapper--right{
        top: 380px;
        left: 25%;
    }
    .hero__wrapper--right img{
        height: 270px;
    }

    .uiDesign{
        height: 350px;
        width: 420px;
    }

    .uiDesign img{
        position: relative;
        height: 350px;
        width: 220px;
        top: 2px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
@media only screen and (max-width: 440px) {
    

    #hero p{
        font-size: smaller;
    }

    .hero__wrapper--right{
        left: 18%;
    }

    .project__title h1{
        font-size: xx-large;
    }

    .uiDesign{
        height: 250px;
        width: 300px;
    }

    .uiDesign img{
        height: 250px;
        width: 150px;

    }

    .uiDesign-detaile{
        padding: 0px 5px;
    }
}
@media only screen and (max-width: 400px) {
    .active{
        margin: 0px 5px;
    }

    #hero h2{
        font-size: small;
    }

    #hero p{
        font-size: smaller;
    }
}