body {
    font-family: 'Dancing Script', cursive 'Zilla Slab', serif; 
    margin: 0;
    padding: 0;
    background-color: #eeedf0;
}

.hero__wrapper{
    display: flex;
    justify-content: space-around;
    min-height: 500px;
    align-items: center;
}

.hero__wrapper p {
    color: gray;
}

.hero__wrapper h1{
    color: #4e4e4e;
    font-size: 60px;
    margin: 0px;
}

h3{
    color: #4e4e4e;
}

.hero__wrapper h4{
    color: #bc5374;
}


.hero__wrapper--left{
    align-items: left;
    width: 60%;
}

.hero__wrapper--right {
    position: absolute;
    left: 55%;
    top: 0px;
    display: flex;
}

.hero__wrapper--right img{
    height: 500px;
}

.portfolio {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 80px 100px;
}

.Portfolio-continer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

.project img {
    border-radius: 20px;
    height: 150px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: fill;
}

.about {
    background-color: #bc5374;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
}
.about-container p{
    width: 40%;
}

.contact {
    background-color: #ffffff;
    padding: 40px 0;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    color: #bc5374;
    text-align: center;
    padding: 10px 0;
}

button{
    background-color: #bc5374;
    border: none;
    color: #ffffff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    width: 100px;
}

.project p{
    font-size: small;
}

@media only screen and (max-width: 1224px) {

    .hero__wrapper{
        min-height: 750px;
        display: flex;
        text-align: center;
        flex-direction: column;

    }
    .hero__wrapper--left{
        position: absolute;
        top: 20px;
        margin-left: 0px;
    }

    .hero__wrapper--right{
        top: 250px;
        left: 25%;
    }
}
@media only screen and (max-width: 950px) {

    .Portfolio-continer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 50px;
    }
}

@media only screen and (max-width: 768px) {

    .Portfolio-continer{
        gap: 20px;
    }
    
    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto; 
        padding: 20px;
    }

    .about-container p{
        width: 70%;
    }
}

@media only screen and (max-width: 568px) {

    .Portfolio-continer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .hero__wrapper{
        min-height: 470px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .hero__wrapper--left{
        margin-left: 0px;
        margin-top: 30px;
    }

    .hero__wrapper--left h1{
        font-size: 30px;
        margin: 0px;
    }

    .hero__wrapper--left h4{
        margin: 5px;
    } 
    .hero__wrapper--left p{
        margin: 5px;
    } 

    .hero__wrapper--right{
        top: 200px;
        left: 25%;
    }
    .hero__wrapper--right img{
        height: 270px;
    }
}
@media only screen and (max-width: 420px) {

    .hero__wrapper--right{
        left: 20%;
    }
}