.header {
    background: #000000;
    color: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header nav ul li {
    margin-left: 1.5rem;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.header nav ul li a:hover {
    transform: scale(1.2);
    color: #fae101;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

@media (max-width: 800px) {
    nav {
        display: none;
    }

    nav.nav-open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0px;
        background-color: #000000;
        padding: 10px;
        border-radius: 5px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }
}