.hero__grid{
    background-color: #ffffff;
    padding: 0px 100px 0px 100px;
    display: flex;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}

.hero__grid h1{
    color: #3f3e3e;
    font-size: 40px;
    font-weight: 850;
}

.hero__grid p{
    position: relative;
    top: -1rem;
    margin-top: 0px;
}

.resume-button {
    background: #fae101;
    color: #000000;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s ease, color 0.3s ease;
}

.resume-button:hover {
    background: #000000;
    color: #ffffff;
}

.hero__links{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.hero__grid--second img{
    height: 280px;
    width: 280px;
    border: 20px solid #fae101;
    border-radius: 50%;
}

.hero__grid--third{
    width: 250px;
}

@media screen and (max-width: 975px) {
    .hero__grid h1{
        color: #3f3e3e;
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (max-width: 752px) {
    .hero__grid h1{
        color: #3f3e3e;
        font-size: 15px;
        font-weight: 600;
    }

    .hero__grid p{
        position: relative;
        top: -0.5rem;
        margin-top: 0px;
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) {
    .hero__grid{
        height: auto;
        padding: 1rem 0rem;
    }
    .hero__grid--first{
        margin-top: 1rem;
    }
    .hero__links{
        display: flex;
        flex-direction: row;
        margin: 1rem 0rem;
    }
    .hero__grid--second img{
        height: auto;
        width: 200px;
    }
    .hero__grid h1{
        color: #3f3e3e;
        font-size: 20px;
        font-weight: 700;
    }

    .hero__grid p{
        position: relative;
        top: -0.5rem;
        margin-top: 0px;
        font-size: 15px;
    }
}

@media screen and (max-width: 720px) {
    .hero__grid{
        height: auto;
        padding: 1rem 0rem;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .hero__links{
        margin: 1rem 3.1rem;
    }
}