.UiuxProjectDetails{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 50px;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

h1{
    font-weight: 900;
}

.UiuxProjectDetails img{
    width: 100%;
}
